@model Hotel_Management.Models.Nhanvien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sodienthoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sodienthoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayvaolam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayvaolam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Trangthai == 1 ? "Đang làm" : "Nghỉ làm")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MabophanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MabophanNavigation.Tenbophan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenchucvuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenchucvuNavigation.Tenchucvu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nhanvienlamcas)
        </dt>
        <dd class="col-sm-10">
            @(Model.Nhanvienlamcas != null && Model.Nhanvienlamcas.Any()
                        ? Model.Nhanvienlamcas.First().MacalamviecNavigation
                        : "Không có ca làm việc")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Manv">Edit</a> <br />
    <a asp-action="Index">Back to List</a>
</div>
