@model IEnumerable<Hotel_Management.Models.Nhanvien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<p>
    <a asp-action="Create" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gioitinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sodienthoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", new { id = item.Manv })" style="cursor: pointer;">
                <td>
                    @Html.DisplayFor(modelItem => item.Hoten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gioitinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaysinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sodienthoai)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Manv">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Manv">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.clickable-row').forEach(function(row) {
            row.addEventListener('click', function(e) {
                // Không kích hoạt nếu click vào Edit/Delete
                if (e.target.tagName !== 'A') {
                    window.location.href = this.dataset.href;
                }
            });
        });
    });
</script>
