@model Hotel_Management.Models.Khachhangdatphong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Khachhangdatphong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaycheckin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaycheckin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaycheckout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaycheckout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MakhachhangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MakhachhangNavigation.Makhachhang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaphongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaphongNavigation.Maphong)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
