@model IEnumerable<Hotel_Management.Models.Bophan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenbophan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaythanhlap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenbophan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaythanhlap)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mabophan">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.Mabophan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
