@model Hotel_Management.Helpers.PaginatedList<Hotel_Management.Models.Ncccungcapnguyenlieu>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Mã nhà cung cấp</th>
            <th>Mã nguyên liệu</th>
            <th>Tên nguyên liệu</th>
            <th>Ngày nhập</th>
            <th>Số lượng</th>
            <th>Tiền nguyên liệu</th>
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Mancc</td>
                    <td>@item.Manguyenlieu</td>
                    <td>@item.Tennguyenlieu</td>
                    <td>@(item.Ngaynhap.HasValue? item.Ngaynhap.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td>@item.Luong</td>
                    <td>@item.Tiennguyenlieu</td>
                    <td>
                        <a asp-controller="Ncccungcapnguyenlieux" asp-action="Details" asp-route-id="@item.Mancc" class="btn btn-sm btn-outline-primary me-2">Chi tiết</a>
                        <a asp-controller="Ncccungcapnguyenlieux" asp-action="Edit" asp-route-mancc="@item.Mancc" class="btn btn-sm btn-outline-primary me-2">Sửa</a>
                        <a asp-controller="Ncccungcapnguyenlieux" asp-action="Delete" asp-route-mancc="@item.Mancc" asp-route-manguyenlieu="@item.Manguyenlieu" class="btn btn-sm btn-outline-danger">Xóa</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center text-muted">Không có dữ liệu.</td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage;
    var nextDisabled = !Model.HasNextPage;
}

<div class="mt-2 d-flex align-items-center card-footer">
    <a href="#"
       class="btn btn-outline-primary me-2 ajax-page @(prevDisabled ? "disabled" : "")"
       data-page="@(Model.PageIndex - 1)"
       @(prevDisabled ? "aria-disabled=true" : "")>
        <i class="bx bx-chevron-left"></i> Trước
    </a>

    <a href="#"
       class="btn btn-outline-primary ajax-page @(nextDisabled ? "disabled" : "")"
       data-page="@(Model.PageIndex + 1)"
       @(nextDisabled ? "aria-disabled=true" : "")>
        Sau <i class="bx bx-chevron-right"></i>
    </a>

    <span class="ms-3 text-muted">
        Trang @Model.PageIndex / @Model.TotalPages
    </span>
</div>
