@model Hotel_Management.Models.Khachhangdatmon

@{
    ViewData["Title"] = "Sửa thông tin đặt món";
}

<h1 class="text-center mb-4">Sửa thông tin đặt món</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit" asp-route-makhachhang="@Model.Makhachhang" asp-route-mamon="@Model.Mamon" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Makhachhang" />
            <input type="hidden" asp-for="Mamon" />
            <div class="form-group mb-3">
                <label asp-for="Soluong" class="form-label">Số lượng</label>
                <input asp-for="Soluong" class="form-control" placeholder="Nhập số lượng" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>

            <div class="form-group text-center mt-4">
                <button type="submit" asp-route-makhachhang="@Model.Makhachhang"
                        asp-route-mamon="@Model.Mamon"
                        asp-route-ngaydat="@Model.Ngaydat.ToString("o")" class="btn btn-primary px-4">
                    Lưu
                </button>
                <a asp-action="Index" class="btn btn-secondary px-4 ms-2">Quay lại</a>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />
