@model IEnumerable<Hotel_Management.Models.Thucdon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Mamons)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Ngayapdung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaytao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngayapdung)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaytao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) 
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
